@charset "utf-8";

h1{
    color: #6633FF;
  border-bottom: dashed 2px #6594e0;
}

h2 {
  position: relative;
  padding: 0.2em 0.5em;
  background: linear-gradient(#05FBFF, #1D62F0 ) fixed;
  color: white;
  font-weight: lighter;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
}

input[type="submit"]{
    
    border: 2px;
    border-radius: 6px;
    background: linear-gradient(0deg, #0086f9, #b6d6f7);
    color: #FFF;
}

input[type="reset"]{
    
    border: 2px;
    border-radius: 6px;
    background: linear-gradient(0deg, #0086f9, #b6d6f7);
    color: #FFF;
}

p.img_center{
  text-align: center;
}

td.img_center{
 text-align: center;
}



html {
  box-sizing: border-box;
  font-size: 70.5%;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 79.195%;
  }
}

body {
  font-size: 1.2rem;
  line-height: 1.75em;
}

.cdt_wrapper {
   background:linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8)) fixed;
  font-weight: bold;
  text-align: center;
  line-height: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .cdt_wrapper {
    line-height: 2.5;
    font-size: 1.8rem;
    padding: 0 20px;
  }
}
.cdt_wrapper small {
  font-size: .6em;
  padding: 0 .4em;
}

.cdt {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cdt_txt {
  font-size: .6em;
  display: inline-block;
  margin-right: .6em;
}

@media screen and (min-width: 768px) {
  .cdt_txt {
    font-size: .5em;
  }
}

.cdt_txt span {
  display: block;
  line-height: 1;
}

.cdt_date {
  font-size: 1.6rem;
}

.cdt_num {
  background-color: #ffffff;
  padding: 0 .15em;
}

@media screen and (min-width: 768px) {
  .cdt_num {
    line-height: 1;
    padding: .3em .15em;
  }
}
/*おみくじのスタイル*/
.omikuji {
  background:linear-gradient(-135deg, #E4A972, #9941D8) fixed;
  font-weight: bold;
  text-align: center;
  line-height: 2;
  align-items: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.img_block {
    text-align: center;
     display: block;
     margin:auto;



}





